{{ define "Menu" }}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/create">Create</a></li>
  </ol>
</nav>
{{ end }}